$theme-colors: (
    "primary": #ff3a52,
    "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top:56px;
}
.footer {
    margin-top:3rem;
}
.navbar {
    border-bottom:1px solid #eee;
}
